<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/common :: headFragment" />
<body>

<div th:include="../fragments/common :: headerFragment"></div>

<div class="container">
    <p th:text="${errorMessage}">Doslo je do greske</p>
    <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
            <p>Samo SUVP administratoru je dozvoljen pristup ovom dijelu aplikacije.</p>
                <p>Da li ste administrator? Molimo logirajte se sa administratorskim nalogom <a href="signin" th:href="@{/signin}">Sign In</a></p>
            </div>
        </div>
    <div th:include="../fragments/footer :: footer">&copy; 2014 Nikola Kujaca</div>

	<div th:include="../fragments/common :: footerFragment"></div>

</div><!-- /.container -->

<div th:include="../fragments/common :: jsFragment"></div>

</body>
</html>