<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/common :: headFragment" />
<body>

<div th:include="fragments/common :: headerFragment"></div>

    
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">

	<!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">&nbsp;</div>
    </th:block>
    
  <!-- START THE FEATURETTES -->

  <div class="featurette">
    <h2 class="featurette-heading text-center">Vehicle Management System</h2>
    <p class="lead"><span class="text-muted"><a th:href="@{/signin}">Please sign in here</a></span>. If you do not have account please contact your Vehicle Pool Manager or System Administrator.</p>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
  
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">     
      <h2></h2>
      <p></p>
      <!-- <p><a class="btn btn-default" href="#">View details »</a></p>  -->
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" height="140" width="140" th:src="@{/resources/img/usdoj.png}" />
      <h2>V. M. S.</h2>
      <p></p>
    </div>
    <div class="col-md-4 text-center">
      <h2></h2>
      <p></p>
    </div>
    
  </div><!-- /.row -->
  <div class="col-md-12 text-center">
  <h2>Vehicle Management System supporting ICITAP Bosnia fleet</h2>
  </div>

<div th:include="fragments/common :: footerFragment"></div>

</div><!-- /.container -->

<div th:include="fragments/common :: jsFragment"></div>

</body>
</html>