<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="dodaci/sabloni :: headFragment" />
<body>

<div th:include="dodaci/sabloni :: headerFragment"></div>

    
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">

	<!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <div th:replace="dodaci/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">&nbsp;</div>
    </th:block>
    
  <!-- START THE FEATURETTES -->

  <div class="featurette">
    <h2 class="featurette-heading text-center" th:text="#{title.msg}">Vehicle management system</h2>
    <p class="lead"><span class="text-muted"><a th:href="@{/signin}" th:text="#{title.log}">Please, Sign in here</a></span><span class="text-muted" th:text="#{title.msg2}"></span></p>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
  
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">     
      <h2></h2>
      <p></p>
      <!-- <p><a class="btn btn-default" href="#">View details »</a></p>  -->
    </div>
    <div class="col-md-4 text-center">
      <img class="img-rounded" height="240" width="240" th:src="@{/resources/img/main-auto.png}" />
      <h2 th:text="#{title.ttl}"></h2>
      <p></p>
    </div>
    <div class="col-md-4 text-center">
      <h2></h2>
      <p></p>
    </div>
    
  </div><!-- /.row -->
  <div class="col-md-12 text-center">
  <h2 th:text="#{title.msg}">Vehicle management system</h2>
  </div>

<div th:include="dodaci/sabloni :: footerFragment"></div>

</div><!-- /.container -->

<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>