<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="dodaci/sabloni :: headFragment" />
<body>

<div th:include="dodaci/sabloni :: headerFragment"></div>

<div class="container">
    
    <div class="form-group alert alert-danger">
    	<h2 class=""><span th:text="#{err.msg}"></span><span th:text="${errorMessage}"></span></h2>
        <div>
	        <p><span th:text="#{err.acc1}"></span></p>
	        <p><span th:text="#{err.acc2}"></span><a href="signin" th:href="@{/logout}" th:text="#{sign.in}"></a></p>
	        <p></p>
	        <p></p>
        </div>
    </div>

	<div th:include="dodaci/sabloni :: footerFragment"></div>

</div><!-- /.container -->

<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>