<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="dodaci/sabloni :: headFragment" />
<body>

	<div th:include="dodaci/sabloni :: adminHeaderFragment"></div>


	<!-- Marketing messaging and featurettes
================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container">

		<!-- START THE FEATURETTES -->

		<div class="featurette">
			<h2 class="featurette-heading" th:text="#{wlk.1} + ' ' + ${#authentication.name}"></h2>

			<p class="lead" th:text="#{wlk.2}"></p>
		</div>

		<hr class="featurette-divider" />

		<!-- /END THE FEATURETTES -->

		<!-- Navs
  ================================================== -->

<div class="container">
		<div class="row">
			<div class="col-md-12 text-center"
				sec:authorize="hasRole('ROLE_ADMIN')">

				<h3 id="tabs" th:text="#{adm.1}">Sažetak</h3>
				<ul class="nav nav-tabs">
					<li class="active disabled"><a href="#TEST" data-toggle="tab"><i class="glyphicon glyphicon-arrow-right"></i></a></li>
					<li><a href="#A" data-toggle="tab"><span th:class="${boolAtributi[0]} ? text-danger:text-success" th:text="#{adm.2}">Dodijeljena vozila</span></a></li>
					<li><a href="#X" data-toggle="tab"><span th:class="${boolAtributi[0]} ? text-danger:text-success" th:text="#{adm.3}">Slobodna vozila</span></a></li>
					<li><a href="#B" data-toggle="tab"><span th:class="${boolAtributi[1]} ? text-danger:text-success" th:text="#{adm.4}">Registracije</span></a></li>
					<li><a href="#C" data-toggle="tab"><span th:class="${boolAtributi[2]} ? text-danger:text-success" th:text="#{adm.5(${#dates.monthName(#dates.createNow())})}"></span></a></li>
					<li><a href="#D" data-toggle="tab"><span th:class="${boolAtributi[3]} ? text-danger:text-success" th:text="#{adm.6}">Servisi</span></a></li>
<!-- 					<li><a href="#E" data-toggle="tab">Support</a></li> -->
				</ul>
				<div class="tabbable">
					<div class="tab-content">
						<div class="tab-pane active" id="TEST">
							<h1 class="center" th:text="#{adm.7}">Select tab to view content!</h1>
						</div>
						<div class="tab-pane" id="A">
						
							<div th:if="${dodAtribut}" th:each="dodijeljeni : ${dodAtribut}">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr class="success">
											<th class="col-md-3 text-center h3" colspan="3" th:text="${dodijeljeni.key.tablica}">Vehicle</th>
										</tr>
										<tr>
											<th class="text-center h4" th:text="#{kv.kor}">User</th>
											<th class="text-center h4" th:text="#{lk.dat}">Date</th>
											<th class="text-center h4" th:text="#{rad.na}">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="dod : ${dodijeljeni.value}">
											<td class="col-md-3" th:text="${dod.korisnik.ime}+' '+${dod.korisnik.prezime}" >
												
											</td>
											<td class="col-md-3"
												th:text="${#calendars.format(dod.dodijeljeno,'dd MMMM yyyy')}">date</td>
											
											<td class="col-md-3"><a class="btn btn-info btn-sm"
												th:href="@{/admin/dodjeljivanje/(vin=${dod.vozilo.vin})}"><i
													class="glyphicon glyphicon-list-alt"></i> <span
													th:text="#{rad.prk}">Show action</span></a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div th:if="${dodAtribut.isEmpty()}">
								<h3 th:text="#{adm.8(${#calendars.monthName(#calendars.createToday())})}"></h3>
							</div>
						</div>
						<div class="tab-pane" id="X">
						
							<div th:if="${not #lists.isEmpty(slobAtribut)}">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th class="text-center h4" th:text="#{reg.tab}">Tablica</th>
											<th class="text-center h4" th:text="#{rad.na}">Radnje</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${regi}" th:each="regi : ${slobAtribut}">
											<td class="col-md-3" th:text="${regi.tablica}" >
												
											</td>
											
											<td class="col-md-3"><a class="btn btn-info btn-sm"
												th:href="@{/admin/dodjeljivanje/(vin=${regi.vozilo.vin})}"><i
													class="glyphicon glyphicon-list-alt"></i> <span
													th:text="#{rad.prk}">Show action</span></a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div th:if="${slobAtribut !=null}">
								<div th:if="${slobAtribut.isEmpty()}">
									<h3 th:text="#{adm.9}"></h3>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="B">
							<div  th:if="${not #lists.isEmpty(regAtribut)}">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr class="success">
										<th th:text="#{reg.tab}">Plates</th>
										<th th:text="#{reg.rdo}">Reg from</th>
										<th th:text="#{reg.odo}">Ins to</th>
										<th th:text="#{rad.na}">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${registration}"
										th:each="registration : ${regAtribut}">
										<td th:text="${registration.tablica}">Plates</td>
										<td
											th:text="${#dates.format(registration.regDo, 'dd-MM-yyyy')}"
											th:class="${#dates.year(#dates.createNow()) ge #dates.year(registration.regDo)} ? (${#dates.month(#dates.createNow()) lt #dates.month(registration.regDo)} ? (${#dates.day(#dates.createNow()) ge #dates.day(registration.regDo)} ? 'danger' : 'warning') : (${#dates.month(#dates.createNow()) ge #dates.month(registration.regDo)} ? 'danger' : (${#dates.day(#dates.createNow()) ge #dates.day(registration.regDo)} ? 'danger' : 'warning')))  : ''"></td>
										<td
											th:text="${#dates.format(registration.osigDo, 'dd-MM-yyyy')}"
											th:class="${#dates.year(#dates.createNow()) ge #dates.year(registration.osigDo)} ? (${#dates.month(#dates.createNow()) lt #dates.month(registration.osigDo)} ? (${#dates.day(#dates.createNow()) ge #dates.day(registration.osigDo)} ? 'danger' : 'warning') : (${#dates.month(#dates.createNow()) ge #dates.month(registration.osigDo)} ? 'danger' : (${#dates.day(#dates.createNow()) ge #dates.day(registration.osigDo)} ? 'danger' : 'warning')))  : ''"></td>
										<td><a class="btn btn-primary btn-sm" th:href="@{/admin/registracije/(vin=${registration.vozilo.vin})}"><i class="glyphicon glyphicon-edit"></i> <span	th:text="#{rad.izm}">Edit action</span></a></td>
									</tr>
								</tbody>
							</table>
							</div>
							<!-- <div  th:if="${not #lists.isEmpty(regAtribut)}">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr class="success">
										<th th:text="#{reg.tab}">Plates</th>
										<th th:text="#{reg.rdo}">Reg from</th>
										<th th:text="#{reg.odo}">Ins to</th>
										<th th:text="#{rad.na}">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${registration}"
										th:each="registration : ${regAtribut}">
										<td th:text="${registration.tablica}">Plates</td>
										<td
											th:text="${#dates.format(registration.regDo, 'dd-MM-yyyy')}"
											th:class="${#dates.year(#dates.createNow()) ge #dates.year(registration.regDo)} ? (${#dates.month(#dates.createNow()) lt #dates.month(registration.regDo)} ? (${#dates.day(#dates.createNow()) ge #dates.day(registration.regDo)} ? 'danger' : 'warning') : (${#dates.month(#dates.createNow()) ge #dates.month(registration.regDo)} ? 'danger' : (${#dates.day(#dates.createNow()) ge #dates.day(registration.regDo)} ? 'danger' : 'warning')))  : ''"></td>
										<td
											th:text="${#dates.format(registration.osigDo, 'dd-MM-yyyy')}"
											th:class="${#dates.year(#dates.createNow()) ge #dates.year(registration.osigDo)} ? (${#dates.month(#dates.createNow()) lt #dates.month(registration.osigDo)} ? (${#dates.day(#dates.createNow()) ge #dates.day(registration.osigDo)} ? 'danger' : 'warning') : (${#dates.month(#dates.createNow()) ge #dates.month(registration.osigDo)} ? 'danger' : (${#dates.day(#dates.createNow()) ge #dates.day(registration.osigDo)} ? 'danger' : 'warning')))  : ''"></td>
										<td><a class="btn btn-primary btn-sm" th:href="@{/admin/registracije/(vin=${registration.vozilo.vin})}"><i class="glyphicon glyphicon-edit"></i> <span	th:text="#{rad.izm}">Edit action</span></a></td>
									</tr>
								</tbody>
							</table>
							</div> -->
							<div th:if="${#lists.isEmpty(regAtribut)}">
									<h3 th:text="#{adm.13}"></h3>
							</div>
						</div>
						<div class="tab-pane" id="C">
							
							<div th:if="${mileages}" th:each="mileages : ${mileageAtribut}">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr class="success">
											<th class="col-md-6 text-center h3" colspan="2" th:text="${mileages.key.tablica}">Vehicle</th>
											<th class="col-md-6 text-center h3" colspan="2" ><a
												class="btn btn-success btn-sm btn-large right"
												th:href="@{/admin/kilo/lista(vin=${mileages.key.vozilo.vin})}" th:text="#{rad.prk}">Show</a></th>
										</tr>
										<tr>
											<th class="text-center h4" th:text="#{lk.dat}">Date</th>
											<th class="text-center h4" th:text="#{lok.one}">Location</th>
											<th class="text-center h4" th:text="#{kv.kor}">User</th>
											<th class="text-center h4" th:text="#{lk.zad}">Last mileage</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="mileage,iterStat : ${mileages.value}">
											<td th:class="${iterStat.odd}? 'hidden'" th:text="${#dates.format(mileage.datum, 'dd-MM-yyyy')}"></td>
											<td th:class="${iterStat.even}? 'hidden warning'" colspan="3"><strong th:text="#{adm.10}">Total</strong></td>
											<td th:class="${iterStat.odd}? 'hidden'" th:text="${mileage.lokacija.naziv}"></td>
											<td th:class="${iterStat.odd}? 'hidden'" th:text="${mileage.korisnikVozilo.korisnik.ime} + ' ' + ${mileage.korisnikVozilo.korisnik.prezime}"></td>
											<td th:text="${mileage.kilometraza}"></td>
										</tr>
										
									</tbody>
								</table>
							</div>
							<h3 th:text="#{adm.11}">no mileage placeholder</h3>
						</div>
						<div class="tab-pane" id="D">
							<div th:if="${report}" th:each="servisi : ${report}">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr class="success">
											<th class="col-md-6 text-center h3" colspan="2" th:text="${servisi.key.tablica}">Vozilo</th>
											<th class="col-md-6 text-center h3" colspan="2" ><a
												class="btn btn-success btn-sm btn-large right"
												th:href="@{/admin/servisi/addServis(id=${servisi.key.vozilo.vin})}" th:text="#{s.ttl4}">new service</a></th>
										</tr>
										<tr>
											<th class="text-center h4" th:text="#{s.za}">Completed?</th>
											<th class="text-center h4" th:text="#{s.dat}">Date</th>
											<th class="text-center h4" th:text="#{s.st}">Service type</th>
											<th class="text-center h4" th:text="#{rad.na}">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="servis : ${servisi.value}">
											<td class="col-md-3" th:class="${servis.zavrsen} ? primary:danger" th:switch="${servis.zavrsen}">
												<p th:case="true">
													<i class="glyphicon glyphicon-ok"></i>
												</p>
												<p th:case="false">
													<i class="glyphicon glyphicon-minus"></i>
												</p>
											</td>
											<td class="col-md-3"
												th:text="${#calendars.format(servis.datum,'dd MMMM yyyy')}">date</td>
											<td class="col-md-3" th:text="${servis.vrstaServisa.naziv}">Type</td>
											<td class="col-md-3"><a class="btn btn-info btn-sm"
												th:href="@{/admin/servis/izmjena(id=${servis.id})}"><i
													class="glyphicon glyphicon-list-alt"></i> <span
													th:text="#{rad.prk}">Show action</span></a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div th:if="${report !=null}">
								<div th:if="${report.isEmpty()}"> 
									<h3 th:text="#{adm.12(${#calendars.monthName(#calendars.createToday())})}"></h3>
								</div>
							</div>
						</div>
<!-- 						<div class="tab-pane" id="E"> -->
<!-- 							<table th:if="${not #lists.isEmpty(pager.pageList)}" -->
<!-- 								class="table table-bordered table-striped table-hover"> -->
<!-- 								<thead> -->
<!-- 									<tr class="success"> -->
<!-- 										<th class="center" th:text="#{ticketList.ticketDate}">Date</th> -->
<!-- 										<th class="center" th:text="#{ticketList.solvedDate}">Date</th> -->
<!-- 										<th class="center" th:text="#{ticketList.subject}">Subject</th> -->
<!-- 										<th class="center" th:text="#{ticketList.completed}">Y/N</th> -->
<!-- 										<th class="center" th:text="#{actions.title}">Actions</th> -->
<!-- 									</tr> -->
<!-- 								</thead> -->

<!-- 								<tbody> -->
<!-- 									<tr th:each="ticket : ${pager.pageList}"> -->
<!-- 										<td -->
<!-- 											th:text="${ticket.ticketDate} ? ${#dates.format(ticket.ticketDate, 'dd/MM/yyyy')} : ''">Ticket -->
<!-- 											Date</td> -->
<!-- 										<td -->
<!-- 											th:text="${ticket.solvedDate} ? ${#dates.format(ticket.solvedDate, 'dd/MM/yyyy')} : ''">Solved -->
<!-- 											Date</td> -->
<!-- 										<td th:text="${ticket.subject}">Ticket Subject</td> -->
<!-- 										<td th:switch="${ticket.isCompleted}"> -->
<!-- 											<p th:case="true"> -->
<!-- 												<i class="glyphicon glyphicon-ok"></i> -->
<!-- 											</p> -->
<!-- 											<p th:case="false"> -->
<!-- 												<i class="glyphicon glyphicon-minus"></i> -->
<!-- 											</p> -->
<!-- 										</td> -->
<!-- 										<td><a sec:authorize="hasRole('ROLE_USER')" -->
<!-- 											class="btn btn-info btn-sm" -->
<!-- 											th:href="@{/support/show(id=${ticket.id})}"><span -->
<!-- 												th:text="#{actions.show}">Show action</span></a> <a -->
<!-- 											sec:authorize="hasRole('ROLE_ADMIN')" -->
<!-- 											class="btn btn-warning btn-sm" -->
<!-- 											th:href="@{/support/edit(id=${ticket.id})}"><i -->
<!-- 												class="glyphicon glyphicon-edit"></i> <span -->
<!-- 												th:text="#{actions.edit}">Edit action</span></a></td> -->
<!-- 									</tr> -->
<!-- 								</tbody> -->
<!-- 							</table> -->
<!-- 						</div> -->
					</div>
				</div>
				<!-- /tabbable -->
			</div>
		</div>
		</div>


		<div th:include="dodaci/sabloni :: footerFragment"></div>

	</div>
	<!-- /.container -->

	<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>