<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/common :: headFragment">
<title>Vehicles</title>
</head>
<body>

<div th:include="fragments/common :: adminHeaderFragment"></div>

<div class="container"> 

<section id="tables">
	
<script src="/resources/js/bootbox.min.js" th:src="@{/resources/js/bootbox.min.js}"></script>
		
<script th:inline="javascript">
 	function deleteObject(id) {
		bootbox.confirm("Are you sure?", function(result) {
			if (result) {
				var url = /*[[ @{'/admin/registrations/delete?id='} ]]*/ "genericUrl";
				url = url+id;
				document.location = url;
			}
		}); 
	};
</script>

  <div class="page-header">
    <h1>Registrations for vehicle <span th:text="${vehicle.licensePlate}"></span></h1>
	<a class="btn btn-primary btn-large right" th:href="@{/admin/registrations/add(id=${vehicle.vin})}">Add new Registration</a>
  </div>
  
  <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h1>Error</h1>
     <h4>An unexpected error occurred, <a href="#" class="alert-link">please contact the support team</a>.</h4>
     <div class="alert alert-warning">
     	<p th:text="${error}">error</p>
     </div>
    </div>
  
  <table th:if="${not #lists.isEmpty(pager.pageList)}" class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th th:text="#{registrationList.regDate}">AAAAAAA</th>
        <th th:text="#{registrationList.regDue}">License Plates</th>
        <th th:text="#{registrationList.insDate}">Make</th>
        <th th:text="#{registrationList.insDue}">Model</th>
        <th th:text="#{registrationList.current}">Year</th>
        <th th:text="#{actions.title}">Actions</th>
      </tr>
    </thead>
    <tbody>
	    <tr th:each="registration : ${pager.pageList}">
	    	<td th:text="${#dates.format(registration.regDate, 'dd/MM/yyyy')}">WVWZZZ857E58T7R</td>
	    	<td th:text="${#dates.format(registration.regDue, 'dd/MM/yyyy')}" th:class="${#dates.year(#dates.createNow()) ge #dates.year(registration.regDue)} ? (${#dates.month(#dates.createNow()) lt #dates.month(registration.regDue)} ? (${#dates.day(#dates.createNow()) ge #dates.day(registration.regDue)} ? 'danger' : 'warning') : (${#dates.month(#dates.createNow()) ge #dates.month(registration.regDue)} ? 'danger' : (${#dates.day(#dates.createNow()) ge #dates.day(registration.regDue)} ? 'danger' : 'warning')))  : ''" ></td>
	    	<td th:text="${#dates.format(registration.insDate, 'dd/MM/yyyy')}">Ford</td>
    		<td th:text="${#dates.format(registration.insDue, 'dd/MM/yyyy')}" th:class="${#dates.year(#dates.createNow()) ge #dates.year(registration.insDue)} ? (${#dates.month(#dates.createNow()) lt #dates.month(registration.insDue)} ? (${#dates.day(#dates.createNow()) ge #dates.day(registration.insDue)} ? 'danger' : 'warning') : (${#dates.month(#dates.createNow()) ge #dates.month(registration.insDue)} ? 'danger' : (${#dates.day(#dates.createNow()) ge #dates.day(registration.insDue)} ? 'danger' : 'warning')))  : ''"></td>
			<td th:switch="${registration.isActive}">
			    <p th:case="true"><i class="glyphicon glyphicon-ok"></i></p>
    			<p th:case="false"><i class="glyphicon glyphicon-minus"></i></p>
			</td>
			<td>
				<a class="btn btn-warning btn-sm" th:href="@{/admin/registrations/edit(id=${registration.id})}"><i class="glyphicon glyphicon-edit"></i> <span th:text="#{actions.edit}">Edit action</span></a>
				<a class="btn btn-info btn-sm" th:href="@{/admin/registrations/show(id=${registration.id})}"><i class="glyphicon glyphicon-list-alt"></i> <span th:text="#{actions.show}">Show action</span></a>
				<a class="btn btn-danger btn-sm" href="#" th:onclick="'javascript:deleteObject(\'' + ${registration.id} + '\');'"><i class="glyphicon glyphicon-remove"></i> Delete</a>
			</td>
		</tr>
    </tbody>
  </table>
   
  <div class="col-lg-12 center">
	<ul class="pagination">
		<li th:if="${pager.firstPage}" class="disabled"><a href="#">«</a></li>
		<li th:if="${not pager.firstPage}"><a th:href="@{${page='?page='+(pager.page-1)}}">«</a></li>
		<li th:each="item : ${#numbers.sequence(1,pager.pageCount)}" th:class="${pager.page == item-1} ? 'active' : ''">
	        <a th:href="@{${page='?page='+(item-1)}}"><span th:text='${item}'>PageNo</span></a>
	     </li>
	    <li th:if="${pager.lastPage}" class="disabled"><a href="#">»</a></li>
		<li th:if="${not pager.lastPage}"><a th:href="@{${page='?page='+(pager.page+1)}}">»</a></li>
	</ul>
  </div>
  <div class="page-footer" align="right">

	<a class="btn btn-primary btn-large right" th:href="@{/admin/vehicles}">Back to list</a>
  </div>
  
</section>

<div th:include="fragments/common :: footerFragment"></div>
</div>
<!-- /.container -->
<div th:include="fragments/common :: jsFragment"></div>

</body>
</html>