<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="dodaci/sabloni :: headFragment">
<title>Nova registracija</title>
</head>
<body>

<div th:include="dodaci/sabloni :: adminHeaderFragment"></div>

<div class="container">

<section id="object">
  <div class="page-header">
    <h1>Dodaj novu registraciju</h1>
  </div>

<div class="row">
    
	<form action="#" th:object="${registracijaAtribut}"
		th:action="@{/admin/registracije/dodaj}" method="post" class="form-horizontal well">

<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
    <h1>Error</h1>
	<p th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</p>    
    </div>
    
          <div class="form-group" th:class="${#fields.hasErrors('vehicle.vin')} ? 'form-group has-error' : 'form-group'">
          <label for="vehicle.vin" class="col-lg-2 control-label">VIN</label>
            <div class="col-lg-10">
              	<select th:field="*{vehicle.vin}" class="form-control">
  				<option th:each="vehicle : ${regVehicles}" 
  						th:value="${vehicle.vin}" 
          				th:text="${vehicle.licensePlate}">License Plate</option>
				</select>
              <p th:if="${#fields.hasErrors('vehicle.vin')}" class="label label-danger" th:errors="${vehicle.vin}">Incorrect VIN</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('isActive')} ? 'form-group has-error' : 'form-group'">
          <label for="isActive" class="col-lg-2 control-label">Da li je ova registracija trenutno vazeca?</label>
            <div class="col-lg-10">
              <select th:field="*{isActive}" class="form-control">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              <p th:if="${#fields.hasErrors('isActive')}" class="label label-danger" th:errors="*{isActive}">Incorrect LP</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('regDate')} ? 'form-group has-error' : 'form-group'">
          <label for="regDate" class="col-lg-2 control-label">Registration Date</label>
            <div class="col-lg-10">
              <input th:type="date" th:field="*{regDate}" class="form-control input-xlarge" />
              <p th:if="${#fields.hasErrors('regDate')}" class="label label-danger" th:errors="*{regDate}">Registration Date Error</p>
            </div>
          </div>
 		  <div class="form-group" th:class="${#fields.hasErrors('regDue')} ? 'form-group has-error' : 'form-group'">
 		  <label for="regDue" class="col-lg-2 control-label">Registration Due</label>
            <div class="col-lg-10">
              <input th:type="date" th:field="*{regDue}" class="form-control input-xlarge" />
              <p th:if="${#fields.hasErrors('regDue')}" class="label label-danger" th:errors="*{regDue}">Incorrect LP</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('insDate')} ? 'form-group has-error' : 'form-group'">
          <label for="insDate" class="col-lg-2 control-label">Insurance Date</label>
            <div class="col-lg-10">
              <input th:type="date" th:field="*{insDate}" class="form-control input-xlarge" />
              <p th:if="${#fields.hasErrors('insDate')}" class="label label-danger" th:errors="*{insDate}">Incorrect LP</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('insDue')} ? 'form-group has-error' : 'form-group'">
          <label for="insDue" class="col-lg-2 control-label">Insurance Due</label>
            <div class="col-lg-10">
              <input th:type="date" th:field="*{insDue}" class="form-control input-xlarge"/>
              <p th:if="${#fields.hasErrors('insDue')}" class="label label-danger" th:errors="*{insDue}" >Incorrect LP</p>
            </div>
          </div>
		<hr/>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Dodaj Registraciju</button>
            <a class="btn btn-default" th:href="@{/admin/vozila/}">Odustani</a>
          </div>
	</form>
	
</div>
</section>

<div class="row right">
  <a class="btn btn-primary btn-large" th:href="@{/admin/vozila/}">Natrag</a>
</div> 

<div th:include="dodaci/sabloni :: footerFragment"></div>
</div>
<!-- /.container -->
<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>