<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="dodaci/sabloni :: headFragment">
<title>Vrste Servisa</title>
</head>
<body>

<div th:include="dodaci/sabloni :: adminHeaderFragment"></div>

<div class="container"> 
 
<section id="tables">
	
<script src="/resources/bootstrap/js/bootbox.min.js" th:src="@{/resources/js/bootbox.min.js}"></script>
		
<script th:inline="javascript">
 	function deleteObject(id) {
		bootbox.confirm("Da li ste sigurni?", function(result) {
			if (result) {
				var url = /*[[ @{'/admin/vrstaServisa/izbrisi?id='} ]]*/ "genericUrl";
				url = url+id;
				document.location = url;
			}
		}); 
	};
</script>

  <div class="page-header">
    <h1 th:text="#{vs.ttl1}">Service types</h1>
	<a class="btn btn-primary btn-large right" th:href="@{/admin/vrstaServisa/novi}" th:text="#{vs.new}">Add new service type</a>
  </div>
  
  <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h1 th:text="#{err.msg1}">Greska</h1>
     <h4 th:text="#{err.msg2}"></h4>
     <div class="alert alert-warning">
     	<p th:text="${error}">error</p>
     </div>
    </div>
  
  <table th:if="${pager.totalElements}>0" class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th th:text="#{vs.id}">Identifikacijski broj</th>
        <th th:text="#{vs.naz}">Naziv dijela</th>
        <th th:text="#{rad.na}">Radnja</th>
        </tr>
    </thead>
    <tbody>
	    <tr th:each="vrstaServisa : ${pager}">
	    	<td th:text="${vrstaServisa.id}">123456</td>
	    	<td th:text="${vrstaServisa.naziv}">vrstaservisa</td>
			<td>
				<a class="btn btn-warning btn-sm" th:href="@{/admin/vrstaServisa/izmjena(id=${vrstaServisa.id})}"><i class="glyphicon glyphicon-edit"></i> <span th:text="#{rad.izm}">Rednja - izmjeni</span></a>
				<a class="btn btn-danger btn-sm" href="#" th:onclick="'javascript:deleteObject(\'' + ${vrstaServisa.id} + '\');'"><i class="glyphicon glyphicon-remove"></i><span th:text="#{rad.obr}">Radnja - izbrisi</span></a>
			</td>
		</tr>
    </tbody>
  </table>
  <span th:if="${pager.totalElements}==0" th:text="#{vs.ne}"></span>
  <div class="col-lg-12 center">
	<ul th:if="${pager.totalPages}>1" class="pagination">
		<li th:if="${pager.firstPage}" class="disabled"><a href="#">«</a></li>
		<li th:if="${not pager.firstPage}"><a th:href="@{${page='?page='+(pager.number-1)}}">«</a></li>
		<li th:each="item : ${#numbers.sequence(1,pager.totalPages)}" th:class="${pager.number == item-1} ? 'active' : ''">
	        <a th:href="@{${page='?page='+(item-1)}}"><span th:text='${item}'>Broj stranice</span></a>
	     </li>
	    <li th:if="${pager.lastPage}" class="disabled"><a href="#">»</a></li>
		<li th:if="${not pager.lastPage}"><a th:href="@{${page='?page='+(pager.number+1)}}">»</a></li>
	</ul>
  </div>
  
</section>

<div th:include="dodaci/sabloni :: footerFragment"></div>
</div>
<!-- /.container -->
<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>