<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="dodaci/sabloni :: headFragment">
<title>Izmjena informacija o servisu</title>
</head>
<body>

<div th:include="dodaci/sabloni :: adminHeaderFragment"></div>
<th:block></th:block>
<div class="container">

<section id="object">
  <div class="page-header">
    <h1>Izmjena servisa</h1>
  </div>

<div class="row">
    
	<form action="#" th:object="${sAtribut}"
		th:action="@{/admin/servis/izmjena}" method="post" class="form-horizontal well">
		
		<input type="hidden" th:field="*{vozilo.vin}" class="form-control input-xlarge" />
		<input type="hidden" th:field="*{id}" class="form-control input-xlarge" />
          <div class="form-group" th:class="${#fields.hasErrors('vozilo.vin')} ? 'form-group has-error' : 'form-group'">
          <label for="vozilo.vin" class="col-lg-3 control-label">Registarske oznake: </label>
            <div class="col-lg-9">
              	<input type="text" th:field="${rAtribut.tablica}" class="form-control input-xlarge" placeholder="License Plate" readonly="readonly"/>
              <p th:if="${#fields.hasErrors('vozilo.vin')}" class="label label-danger" th:errors="*{vozilo.vin}">Incorrect LP</p>
            </div>
          </div>    
          <div class="form-group" th:class="${#fields.hasErrors('datum')} ? 'form-group has-error' : 'form-group'">
          <label for="datum" class="col-lg-3 control-label">Datum servisa: </label>
            <div class="col-lg-9">
              <input type="date" th:field="*{datum}" class="form-control input-xlarge" placeholder="Servis Date" />
              <p th:if="${#fields.hasErrors('datum')}" class="label label-danger" th:errors="*{datum}">Incorrect Date</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('vrstaServisa.id')} ? 'form-group has-error' : 'form-group'">
          <label for="vrstaServisa.id" class="col-lg-3 control-label">Vrsta Servisa: </label>
            <div class="col-lg-9">
              	<select th:field="*{vrstaServisa.id}" class="form-control">
  				<option th:each="servisType : ${vAtribut}" 
  						th:value="${servisType.id}" th:selected="${servisType.id==sAtribut.vrstaServisa.id}"
          				th:text="${servisType.naziv}">Vrsta Servisa</option>
				</select>
              <p th:if="${#fields.hasErrors('vrstaServisa.id')}" class="label label-danger" th:errors="${vrstaServisa.id}">Incorrect VIN</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('djelovi')} ? 'form-group has-error' : 'form-group'">
          <label for="djelovi" class="col-lg-3 control-label">Dijelovi: </label>
            <div class="col-lg-9">
              	<select class="form-control" th:field="*{djelovi}" multiple="multiple" >
  				<option th:each="part : ${dAtribut}"
  						th:value="${part.id}"
          				th:text="${part.naziv} + ' ' + ${sAtribut.djelovi.contains(part)}">Part name</option>
				</select>
              <p th:if="${#fields.hasErrors('djelovi')}" class="label label-danger" th:errors="*{djelovi}">Incorrect part ID</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('zavrsen')} ? 'form-group has-error' : 'form-group'">
          <label for="zavrsen" class="col-lg-3 control-label">Da li je servis zavrsen?</label>
            <div class="col-lg-9">
              <select th:field="*{zavrsen}" class="form-control">
                <option value="true">Da</option>
                <option value="false">Ne</option>
              </select>
              <p th:if="${#fields.hasErrors('zavrsen')}" class="label label-danger" th:errors="*{zavrsen}">Incorrect checkbox</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('lokacijaKilometraza.kilometraza')} ? 'form-group has-error' : 'form-group'">
          <label for="lokacijaKilometraza.kilometraza" class="col-lg-3 control-label">Trenutna kilometraza</label>
            <div class="col-lg-9">
              	<input type="text" th:field="*{lokacijaKilometraza.kilometraza}" class="form-control input-xlarge" placeholder="Kilometraza"/>
              <p th:if="${#fields.hasErrors('lokacijaKilometraza.kilometraza')}" class="label label-danger" th:errors="*{lokacijaKilometraza.kilometraza}">Incorrect LP</p>
            </div>
          </div>
		  <div class="form-group" th:class="${#fields.hasErrors('lokacijaKilometraza.lokacija')} ? 'form-group has-error' : 'form-group'">
          	<label for="lokacijaKilometraza.lokacija" class="col-lg-3 control-label">Lokacija:</label>
          	<div class="col-lg-9">
				<select th:field="*{lokacijaKilometraza.lokacija}" class="form-control">
  					<option th:each="lok : ${lAtribut}" 
  						th:value="${lok.id}" 
          				th:text="${lok.naziv}">Lokacija</option>
				</select>
				<p th:if="${#fields.hasErrors('lokacijaKilometraza.lokacija')}" class="label label-danger" th:errors="*{lokacijaKilometraza.lokacija}">neispravna kilometraza</p>
			</div>
		  </div>
		<hr/>
          <div class="form-actions">
          <label class= "col-lg-1"></label>
            <button type="submit" class="btn btn-primary">Izmjeni servis</button>
            <a class="btn btn-default" th:href="@{/admin/servis/lista(vin=${sAtribut.vozilo.vin})}">Odustani</a>
          </div>
	</form>
	
</div>
</section>

<div class="row right">
  <a class="btn btn-primary btn-large" th:href="@{/admin/vozila/}">Natrag na listu</a>
</div> 

<div th:include="dodaci/sabloni :: footerFragment"></div>
</div>
<!-- /.container -->
<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>