<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="dodaci/sabloni :: headFragment">
<title>Services</title>
</head>
<body>

	<div th:include="dodaci/sabloni :: adminHeaderFragment"></div>

	<div class="container">

		<div th:include="dodaci/filters :: servisReport"></div>

		<section id="tables">

			<script src="/resources/bootstrap/js/bootbox.min.js"
				th:src="@{/resources/js/bootbox.min.js}"></script>

			<script th:inline="javascript">
				function deleteObject(id) {
					bootbox
							.confirm(
									"Are you sure?",
									function(result) {
										if (result) {
											var url = /*[[ @{'/admin/servis/deleteServis?id='} ]]*/"genericUrl";
											url = url + id;
											document.location = url;
										}
									});
				};
			</script>
			
			<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h1 th:text="#{err.msg1}">Error</h1>
				<h4 th:text="#{err.msg2}"></h4>
				<div class="alert alert-warning">
					<p th:text="${error}">error</p>
				</div>
			</div>

			<div th:if="${report}" th:each="servisi : ${report}">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr class="success">
							<th class="text-center h3" colspan="3"><a th:href="@{/admin/servis/lista(vin=${servisi.key.vozilo.vin})}"><span th:text="${servisi.key.tablica}"></span></a></th>
							<th class="text-center h3" colspan="2"><a class="btn btn-success btn-sm btn-large right" th:href="@{/admin/servis/novi(vin=${servisi.key.vozilo.vin})}" th:text="#{s.new}">Novi Servis</a></th>
						</tr>
						<tr>
							<th class="text-center h4" th:text="#{s.dat}">Datum</th>
							<th class="text-center h4" th:text="#{s.za}">Zavrsen?</th>
							<th class="text-center h4" th:text="#{s.st}">Vrsta servisa</th>
							<th class="text-center h4" th:text="#{rad.klm}">Kilometraza</th>
							<th class="text-center h4" th:text="#{rad.na}">Radnje</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="servis : ${servisi.value}">
							<td class="col-md-3" th:text="${#calendars.format(servis.datum,'dd MMMM yyyy')}">date</td>
							<td class="col-md-2" th:switch="${servis.zavrsen}">
								<p th:case="true">
									<i class="glyphicon glyphicon-ok"></i>
								</p>
								<p th:case="false">
									<i class="glyphicon glyphicon-minus"></i>
								</p>
							</td>
							<td class="col-md-3" th:text="${servis.vrstaServisa.naziv}">Type</td>
							<td class="col-md-2" th:text="${servis.lokacijaKilometraza.kilometraza}">Type</td>
							<td class="col-md-2 center"><a class="btn btn-info btn-sm" th:href="@{/admin/servis/izmjena(id=${servis.id})}"><i class="glyphicon glyphicon-list-alt"></i> 
								<span th:text="#{rad.prk}">Show action</span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${report !=null}">
				<div th:if="${report.isEmpty()}">
						<h3 th:text="#{s.msg1}"></h3>
				</div>
			</div>



		</section>

		<div th:include="dodaci/sabloni :: footerFragment"></div>
	</div>
	<!-- /.container -->
	<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>