<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="dodaci/sabloni :: headFragment">
<title>Add new part</title>
</head>
<body>

<div th:include="dodaci/sabloni :: adminHeaderFragment"></div>

<div class="container">

<section id="object">
  <div class="page-header">
    <h1>Add New part</h1>
  </div>

<div class="row">
    
	<form action="#" th:object="${sAtribut}"
		th:action="@{/admin/servis/novi}" method="post" class="form-horizontal well">
		
		<input type="hidden" th:field="*{vozilo.vin}" class="form-control input-xlarge" />
          <div class="form-group" th:class="${#fields.hasErrors('vozilo.vin')} ? 'form-group has-error' : 'form-group'">
          <label for="vozilo.vin" class="col-lg-3 control-label">Registarske Oznake</label>
            <div class="col-lg-9">
              	<input type="text" th:field="${rAtribut.tablica}" class="form-control input-xlarge" placeholder="License Plate" readonly="readonly"/>
              <p th:if="${#fields.hasErrors('vozilo.vin')}" class="label label-danger" th:errors="${rAtribut.tablica}">Incorrect LP</p>
            </div>
          </div>    
          <div class="form-group" th:class="${#fields.hasErrors('datum')} ? 'form-group has-error' : 'form-group'">
          <label for="datum" class="col-lg-3 control-label">Servis Date: </label>
            <div class="col-lg-9">
              <input type="date" th:field="*{datum}" class="form-control input-xlarge" placeholder="Datum servisa" />
              <p th:if="${#fields.hasErrors('datum')}" class="label label-danger" th:errors="*{datum}">Incorrect Date</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('vrstaServisa.id')} ? 'form-group has-error' : 'form-group'">
          <label for="vrstaServisa.id" class="col-lg-3 control-label">Vrsta Servisa</label>
            <div class="col-lg-9">
              	<select th:field="*{vrstaServisa.id}" class="form-control">
  				<option th:each="servisType : ${vAtribut}" 
  						th:value="${servisType.id}" 
          				th:text="${servisType.naziv}">Vrsta Servisa</option>
				</select>
              <p th:if="${#fields.hasErrors('vrstaServisa.id')}" class="label label-danger" th:errors="${vrstaServisa.id}">Incorrect VIN</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('djelovi')} ? 'form-group has-error' : 'form-group'">
          <label for="djelovi" class="col-lg-3 control-label">Dijelovi</label>
            <div class="col-lg-9">
              	<select th:field="*{djelovi}" class="form-control" multiple="multiple">
  				<option th:each="part : ${dAtribut}" 
  						th:value="${part.id}" 
          				th:text="${part.naziv} + ' ' + ${part.serijskiBroj}">Part name and serial No.</option>
				</select>
              <p th:if="${#fields.hasErrors('djelovi')}" class="label label-danger" th:errors="*{djelovi}">Incorrect part ID</p>
            </div>
          </div>
           <div class="form-group" th:class="${#fields.hasErrors('kilometraza.datum')} ? 'form-group has-error' : 'form-group'">
          <label for="kilometraza.datum" class="col-lg-3 control-label">Datum ocitanja kilometraze: </label>
            <div class="col-lg-9">
              <input type="date" th:field="*{kilometraza.datum}" class="form-control input-xlarge" placeholder="Datum ocitanja kilometraze" />
              <p th:if="${#fields.hasErrors('kilometraza.datum')}" class="label label-danger" th:errors="*{kilometraza.datum}">Incorrect Date</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('kilometraza.kilometraza')} ? 'form-group has-error' : 'form-group'">
          <label for="kilometraza.kilometraza" class="col-lg-3 control-label">Trenutna kilometraza</label>
            <div class="col-lg-9">
              	<input type="text" th:field="*{kilometraza.kilometraza}" class="form-control input-xlarge" placeholder="Kilometraza"/>
              <p th:if="${#fields.hasErrors('kilometraza.kilometraza')}" class="label label-danger" th:errors="*{kilometraza.kilometraza}">Incorrect LP</p>
            </div>
          </div>
          <div class="form-group" th:class="${#fields.hasErrors('zavrsen')} ? 'form-group has-error' : 'form-group'">
          <label for="zavrsen" class="col-lg-3 control-label">Is service completed?</label>
            <div class="col-lg-9">
              <select th:field="*{zavrsen}" class="form-control">
                <option value="true">Da</option>
                <option value="false">Ne</option>
              </select>
              <p th:if="${#fields.hasErrors('zavrsen')}" class="label label-danger" th:errors="*{zavrsen}">Incorrect checkbox</p>
            </div>
          </div>
		<hr/>
          <div class="form-actions">
          <label class= "col-lg-1"></label>
            <button type="submit" class="btn btn-primary">Dodaj Servis</button>
            <a class="btn btn-default" th:href="@{/admin/servis/lista(vin=*{vozilo.vin})}">Odustani</a>
          </div>
	</form>
	
</div>
</section>

<div class="row right">
  <a class="btn btn-primary btn-large" th:href="@{/admin/vozila/}">Lista vozila</a>
</div> 

<div th:include="dodaci/sabloni :: footerFragment"></div>
</div>
<!-- /.container -->
<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>