<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="dodaci/sabloni :: headFragment">
<title>Lista tiketa</title>
</head>
<body>

<div sec:authorize="hasRole('ROLE_ADMIN')" th:include="dodaci/sabloni :: adminHeaderFragment"></div>
<div sec:authorize="hasRole('ROLE_USER')" th:include="dodaci/sabloni :: headerFragment"></div>

<div class="container"> 

	<section id="tables">

		<script src="/resources/bootstrap/js/bootbox.min.js" th:src="@{/resources/js/bootbox.min.js}"></script>
				
		<script th:inline="javascript">
		 	function deleteObject(id) {
				bootbox.confirm("Are you sure?", function(result) {
					if (result) {
						var url = /*[[ @{'/admin/dodjeljivanje/izbrisi?id='} ]]*/ "genericUrl";
						url = url+id;
						document.location = url;
					}
				}); 
			};
		</script>
		
		<p th:if="${#lists.isEmpty(pager)}" th:text="'Tiket nema poruka!'" class="label label-success"/>
		<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
		  	<button type="button" class="close" data-dismiss="alert" >&times;</button>
		    <h1>Error</h1>
		    <h4>An unexpected error occurred, <a href="#" class="alert-link">please contact the support team</a>.</h4>
		    <div class="alert alert-warning">
		     	<p th:text="${error}">error</p>
		    </div>
		</div>
	    <div th:if="${#lists.isEmpty(pager.pageList)}">
			<h1 th:text="#{kor.msg2}"></h1>
		</div>
		<div class="page-header">
	    	<table>
				<tr>
			        <th class="col-lg-2"><p th:text="${#dates.format(tAtribut.tiketDatum,'dd.MM.yyyy HH:mm')}"></p><p th:text="${tAtribut.korisnik.ime}+' '+${tAtribut.korisnik.prezime}"></p></th>
			    	<th class="col-lg-8 center" ><h2 th:text="${tAtribut.naslov}"></h2></th>
			    	<th class="col-lg-2" th:switch="${tAtribut.rijesenDatum!=null} ? ${false} : ${true}">
			        	<span th:case="${true}"><i class="glyphicon glyphicon-ok"></i></span>
						<span th:case="${false}"><i class="glyphicon glyphicon-ban-circle"></i></span>
			        </th>
		    	</tr>
			</table>
		</div>	
		<div th:if="${not #lists.isEmpty(pager.pageList)}">
			<table class="table table-bordered table-striped table-hover">
				<thead>
			    	<tr>
				        <th><p>User / Date</p></th>
				        <th>Message</th>
			    	</tr>
			    </thead>
			    <tbody>
					<tr th:each="poruka : ${pager.pageList}">
						<th class="col-lg-2"><p th:text="${poruka.korisnik.ime}+' '+${poruka.korisnik.prezime}"></p><p th:text="${#dates.format(poruka.datum, 'dd.MM.yyyy HH:mm:ss')}"></p></th>
						<th class="col-lg-10" th:text="${poruka.sadrzaj}"></th>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${pager.lastPage}" class="row">
		    <form action="#" th:object="${pAtribut}" th:action="@{/korisnik/{kid}/tiket/{tid}/novi(kid=${tAtribut.korisnik.id}, tid=${tAtribut.id})}" method="post" class="form-horizontal well">
				<input type="hidden" th:field="*{datum}" />
				<input type="hidden" th:field="*{korisnik.id}"/>
				<input type="hidden" th:field="*{prethodni.id}"/>
			
				<div class="form-group" th:class="${#fields.hasErrors('*{sadrzaj}')} ? 'form-group has-error' : 'form-group'">
	        		<label for="naslov" class="col-lg-2 control-label" th:text="'Poruka'">Message: </label>
	        		<div class="col-lg-10">
		            	<textarea rows="3" cols="1" onkeyup="textCounter(this,'counter',253);" th:field="*{sadrzaj}" class="form-control input-xlarge" th:placeholder="'Tekst poruke'" ></textarea>
		            	<p th:if="${#fields.hasErrors('*{sadrzaj}')}" class="label label-danger" th:errors="*{sadrzaj}">Incorrect title</p>
		            </div>
				</div>
			          
				<div class="form-actions right">
		          	<label class= "col-lg-2"></label>
		            <button type="submit" class="btn btn-primary" th:text="#{tk.new}">Add new msg</button>
		            <a class="btn btn-default" th:href="@{/admin/lokacije/}" th:text="#{rad.odu}">Cancel</a>
				</div>
			</form>
		</div>

		<!-- Paginacija pocinje -->
		<div class="col-lg-12 center">
			<ul class="pagination">
				<li th:if="${pager.firstPage}" class="disabled"><a href="#">«</a></li>
				<li th:if="${not pager.firstPage}"><a th:href="@{${page='?page='+(pager.page-1)}}">«</a></li>
				<li th:each="item : ${#numbers.sequence(1,pager.pageCount)}" th:class="${pager.page == item-1} ? 'active' : ''">
			        <a th:href="@{${page='?page='+(item-1)}}"><span th:text='${item}'>PageNo</span></a>
			     </li>
			    <li th:if="${pager.lastPage}" class="disabled"><a href="#">»</a></li>
				<li th:if="${not pager.lastPage}"><a th:href="@{${page='?page='+(pager.page+1)}}">»</a></li>
			</ul>
		</div>
	</section>
	 <!-- sekcija zavrsena --> 
	 
	<div class="row right">
	  <a class="btn btn-primary btn-large" th:href="@{/admin/vozila/}">Lista vozila</a>
	</div> 
</div>  



<div th:include="dodaci/sabloni :: footerFragment"></div>
<!-- /.container -->
<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>