<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="dodaci/sabloni :: headFragment">
<title>Upit</title>
</head>
<body>
	<script type="text/javascript"  th:inline="javascript">
		$(function() {

			bootbox
					.dialog({
						message : [[#{voz.msg4}]],
						title : [[#{voz.msg3}]],
						buttons : {
							success : {
								label : [[#{voz.msg.d}]],
								className : "btn-success",
								callback : function() {
									var url = /*[[ @{'/admin/dodjeljivanje/novi?vin='} ]]*/"genericUrl";
									var vin = [[${voziloAtribut.vin}]]; 
									// [[${Objekat}]] je nacin na koji u javascript proslijedjujemo model atribut
									url = url + vin;
									document.location = url;
								}
							},
							danger : {
								label : [[#{voz.msg.n}]],
								className : "btn-danger",
								callback : function() {
									var url = /*[[ @{'/admin/vozila/'}]]*/"genericUrl";
									document.location = url;
								}
							}
						}
					});
		});
	</script>
</body>
</html>