<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="dodaci/sabloni :: headFragment">
<title>Vozila</title>
</head>
<body>

<div th:include="dodaci/sabloni :: adminHeaderFragment"></div>

<div class="container"> 
 
<section id="tables">
	
<script src="/resources/bootstrap/js/bootbox.min.js" th:src="@{/resources/js/bootbox.min.js}"></script>
		
<script th:inline="javascript">
 	function deleteObject(id) {
		bootbox.confirm("Da li ste sigurni?", function(result) {
			if (result) {
				var url = /*[[ @{'/admin/vozila/izbrisi?id='} ]]*/ "genericUrl";
				url = url+id;
				document.location = url;
			}
		}); 
	};
</script>

  <div class="page-header">
    <h1>Vozila</h1>
	<a class="btn btn-primary btn-large right" th:href="@{/admin/vozila/novi}">Dodaj novo vozilo</a>
  </div>
  
  <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h1>Greska</h1>
     <h4>Doslo je do neocekivane greske, <a href="#" class="alert-link">molimo kontaktirajte administratora</a>.</h4>
     <div class="alert alert-warning">
     	<p th:text="${error}">error</p>
     </div>
    </div>
  
  <table th:if="${not #lists.isEmpty(pager.pageList)}" class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th th:text="#{voz.vin}">VIN broj</th>
        <th th:text="#{voz.mar}">Make</th>
        <th th:text="#{voz.mod}">Model</th>
        <th th:text="#{voz.boj}">Color</th>
        <th th:text="#{voz.god}">Year</th>
        <th th:text="#{rad.na}">Actions</th>
        </tr>
    </thead>
    <tbody>
	    <tr th:each="vozilo : ${pager.pageList}">
	    	<td th:text="${vozilo.vin}">123456</td>
	    	<td th:text="${vozilo.marka}">Gefufna</td>
	    	<td th:text="${vozilo.model}">GE123</td>
	    	<td th:text="${vozilo.boja}">GE123</td>
	    	<td th:text="${vozilo.godina}">GE123</td>
			<td>
				<a class="btn btn-warning btn-sm" th:href="@{/admin/vozilo/izmjena(id=${vozilo.vin})}"><i class="glyphicon glyphicon-edit"></i> <span th:text="#{rad.izm}">Rednja - izmjeni</span></a>
				<a class="btn btn-danger btn-sm" href="#" th:onclick="'javascript:deleteObject(\'' + ${vozilo.vin} + '\');'"><i class="glyphicon glyphicon-remove"></i><span th:text="#{rad.obr}">Radnja - izbrisi</span></a>
			</td>
		</tr>
    </tbody>
  </table>
   
  <div class="col-lg-12 center">
	<ul class="pagination">
		<li th:if="${pager.firstPage}" class="disabled"><a href="#">«</a></li>
		<li th:if="${not pager.firstPage}"><a th:href="@{${page='?page='+(pager.page-1)}}">«</a></li>
		<li th:each="item : ${#numbers.sequence(1,pager.pageCount)}" th:class="${pager.page == item-1} ? 'active' : ''">
	        <a th:href="@{${page='?page='+(item-1)}}"><span th:text='${item}'>Broj stranice</span></a>
	     </li>
	    <li th:if="${pager.lastPage}" class="disabled"><a href="#">»</a></li>
		<li th:if="${not pager.lastPage}"><a th:href="@{${page='?page='+(pager.page+1)}}">»</a></li>
	</ul>
  </div>
  
</section>

<div th:include="dodaci/sabloni :: footerFragment"></div>
</div>
<!-- /.container -->
<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>