<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="dodaci/sabloni :: headFragment">
<title>Vozila</title>
</head>
<body>

<div th:include="dodaci/sabloni :: adminHeaderFragment"></div>

<div class="container"> 
 
<section id="tables">
	
<script src="/resources/bootstrap/js/bootbox.min.js" th:src="@{/resources/js/bootbox.min.js}"></script>
		
<script th:inline="javascript">
 	function deleteObject(id) {
		bootbox.confirm([[#{msg.ask}]], function(result) {
			if (result) {
				var url = /*[[ @{'/admin/vozila/izbrisi?vin='} ]]*/ "genericUrl";
				url = url+id;
				document.location = url;
			}
		}); 
	};
</script>

  <div class="page-header">
    <h1 th:text="#{mn.2}">Vozila</h1>
	<a class="btn btn-primary btn-large right" th:href="@{/admin/vozila/novi}" th:text="#{voz.ttl3}">Dodaj novo vozilo</a>
  </div>
  <span th:text="${kAtribut}"></span>
  <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h1 th:text="#{err.msg1}">Greska</h1>
     <h4 th:text="#{err.msg2}"></h4>
     <div class="alert alert-warning">
     	<p th:text="${error}">error</p>
     </div>
    </div>
  
  <table th:if="${pager.totalElements}>0" class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="col-lg-1" th:text="#{voz.vin}">VIN broj</th>
        <th class="col-lg-1" th:text="#{voz.mar}">Make</th>
        <th class="col-lg-1" th:text="#{voz.mod}">Model</th>
        <th class="col-lg-1" th:text="#{voz.boj}">Color</th>
        <th class="col-lg-1" th:text="#{voz.god}">Year</th>
        <th class="col-lg-5" th:text="#{rad.na}">Actions</th>
        </tr>
    </thead>
    <tbody>
	    <tr th:each="vozilo : ${pager}">
	    	<td th:text="${vozilo.vin}">123456</td>
	    	<td th:text="${vozilo.marka}">Gefufna</td>
	    	<td th:text="${vozilo.model}">GE123</td>
	    	<td th:text="${vozilo.boja}">GE123</td>
	    	<td th:text="${vozilo.godina}">GE123</td>
			<td>
				<a class="btn btn-default btn-sm" th:href="@{/admin/vozila/izmjena(vin=${vozilo.vin})}"><i class="glyphicon glyphicon-edit"></i> <span th:text="#{rad.izm}">Rednja - izmjeni</span></a>
				<a class="btn btn-sm" th:classappend="${rAtribut.contains(vozilo)} ? btn-default : btn-danger" th:href="@{/admin/registracije/(vin=${vozilo.vin})}"><i class="glyphicon glyphicon-certificate"></i> <span th:text="#{rad.reg}"/></a>
				<a class="btn btn-default btn-sm" th:href="${rAtribut.contains(vozilo)} ? @{/admin/kilo/lista(vin=${vozilo.vin})}:''" th:disabled="${not rAtribut.contains(vozilo)}"><i class="glyphicon glyphicon-road"></i> <span th:text="#{rad.klm}"/></a>
				<a class="btn btn-default btn-sm" th:href="${rAtribut.contains(vozilo)} ? @{/admin/dodjeljivanje/(vin=${vozilo.vin})}:''" th:disabled="${not rAtribut.contains(vozilo)}"><i class="glyphicon glyphicon-edit"></i> <span th:text="#{rad.zad}">Radnja - zaduzenje</span></a>
			    <a class="btn btn-default btn-sm" th:href="@{/admin/servis/(vin=${vozilo.vin})}" th:disabled="${not vAtribut.contains(vozilo)}"><i class="glyphicon glyphicon-cog"></i> <span th:text="#{rad.ser}">Rednja - servisi</span></a>
			    <a class="btn btn-default btn-sm" href="#" th:onclick="'javascript:deleteObject(\'' + ${vozilo.vin} + '\');'"><i class="glyphicon glyphicon-remove"></i><span th:text="#{rad.obr}">Radnja - izbrisi</span></a>
			</td>
		</tr>
    </tbody>
  </table>
  <span th:if="${pager.totalElements}==0" th:text="#{voz.msg.praz}"></span>
   
  <div class="col-lg-12 center">
	<ul th:if="${pager.totalPages}>1" class="pagination">
		<li th:if="${pager.firstPage}" class="disabled"><a href="#">«</a></li>
		<li th:if="${not pager.firstPage}"><a th:href="@{${page='?page='+(pager.number-1)}}">«</a></li>
		<li th:each="item : ${#numbers.sequence(1,pager.totalPages)}" th:class="${pager.number == item-1} ? 'active' : ''">
	        <a th:href="@{${page='?page='+(item-1)}}"><span th:text='${item}'>PageNo</span></a>
	     </li>
	    <li th:if="${pager.lastPage}" class="disabled"><a href="#">»</a></li>
		<li th:if="${not pager.lastPage}"><a th:href="@{${page='?page='+(pager.number+1)}}">»</a></li>
	</ul>
  </div>
  
</section>

<div th:include="dodaci/sabloni :: footerFragment"></div>
</div>
<!-- /.container -->
<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>