<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="dodaci/sabloni :: headFragment">
<title>Lista tiketa</title>
</head>
<body>

<div sec:authorize="hasRole('ROLE_ADMIN')" th:include="dodaci/sabloni :: adminHeaderFragment"></div>
<div sec:authorize="hasRole('ROLE_USER')" th:include="dodaci/sabloni :: headerFragment"></div>

<div class="container"> 

<section id="tables">

<script src="/resources/bootstrap/js/bootbox.min.js" th:src="@{/resources/js/bootbox.min.js}"></script>
		
<script th:inline="javascript">
 	function deleteObject(id) {
		bootbox.confirm("Are you sure?", function(result) {
			if (result) {
				var url = /*[[ @{'/admin/dodjeljivanje/izbrisi?id='} ]]*/ "genericUrl";
				url = url+id;
				document.location = url;
			}
		}); 
	};
</script>

<p th:if="${#lists.isEmpty(pager)}" th:text="'Nemate kreiranih tiketa!'" class="label label-success"/>
  <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h1>Error</h1>
     <h4>An unexpected error occurred, <a href="#" class="alert-link">please contact the support team</a>.</h4>
     <div class="alert alert-warning">
     	<p th:text="${error}">error</p>
     </div>
    </div>
    <table th:if="${not #lists.isEmpty(pager)}" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-lg-1 center" th:text="#{tk.da}">Tiket datum</th>
		<th class="col-lg-1 center" th:text="#{tk.od}">Odgovor datum</th>
        <th class="col-lg-2 center" th:text="#{tk.na}">Naslov</th>
        <th class="col-lg-3 center" th:text="#{tk.op}">Sadrzaj</th>
		<th class="col-lg-3 center" th:text="#{tk.oo}">Odgovor</th>
        <th class="col-lg-2 center" th:text="#{rad.na}">Actions</th>
      </tr>
    </thead>
    <tbody>
	    <tr th:each="tiket : ${pager}">
	    	<td class="col-lg-2 center" th:text="${tiket.tiketDatum} ? ${#dates.format(tiket.tiketDatum, 'dd/MM/yyyy')} : ''">Tiket date</td>
	    	<td class="col-lg-2 center" th:text="${tiket.rijesenDatum} ? ${#dates.format(tiket.rijesenDatum, 'dd/MM/yyyy')} : ''">Response date</td>
	    	<td class="col-lg-2" ><a th:href="'#'+${tiket.id}" data-toggle="modal" ><span th:text="${#strings.abbreviate(tiket.naslov,20)}+'...'"></span></a></td>
	    	<td class="col-lg-3"><a th:href="'#'+${tiket.id}" data-toggle="modal" >
				<span th:text="${#strings.abbreviate(tiket.sadrzaj,25)}"></span></a>
				<!-- Modal -->
				<div class="modal fade" th:id="${tiket.id}" aria-labelledby="tiketLabel" tabindex="-1" role="dialog" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="tiketLabel"><span th:text="${tiket.naslov}"></span></h4>
				      </div>
				      <div class="modal-body">
				      	<h4 class="modal-title" th:id="tiketLabel">Sadrzaj</h4>
				        <span th:text="${tiket.sadrzaj}"></span>
				      	<h4 class="modal-title" th:id="tiketidLabel">Odgovor</h4>
				      	<span th:if="${tiket.odgovor}" th:text="${tiket.odgovor}"></span>
				      </div>
				    </div>
				  </div>
				</div> 
				
				
	    	</td>
	    	<td class="col-lg-3" ><a th:href="'#'+${tiket.id}" data-toggle="modal" ><span th:if="${tiket.odgovor}" th:text="${#strings.abbreviate(tiket.odgovor,25)}+'...'"></span></a></td>
			<td class="col-lg-3 center" >
				<a sec:authorize="hasRole('ROLE_ADMIN')" th:if="not ${tiket.rijesenDatum}" class="btn btn-info btn-sm" th:href="@{/korisnik/tiketi/odgovor(id=${tiket.id})}"><i class="glyphicon glyphicon-edit"></i> <span th:text="#{rad.odg}">Radnja - odgovor</span></a>
				<a sec:authorize="hasRole('ROLE_USER')"  th:if="${tiket.rijesenDatum}"  class="btn btn-info btn-sm" th:href="@{/korisnik/tiketi/nastavi(id=${tiket.id})}"><i class="glyphicon glyphicon-edit"></i> <span th:text="#{rad.odg}">Radnja - odgovor</span></a>
			</td>
		</tr>
    </tbody>
  </table>
  
  
   
  <div class="col-lg-12 center">
	<ul th:if="${pager.totalPages}>1" class="pagination">
		<li th:if="${pager.firstPage}" class="disabled"><a href="#">«</a></li>
		<li th:if="${not pager.firstPage}"><a th:href="@{${page='?page='+(pager.number-1)}}">«</a></li>
		<li th:each="item : ${#numbers.sequence(1,pager.totalPages)}" th:class="${pager.number == item-1} ? 'active' : ''">
	        <a th:href="@{${page='?page='+(item-1)}}"><span th:text='${item}'>PageNo</span></a>
	     </li>
	    <li th:if="${pager.lastPage}" class="disabled"><a href="#">»</a></li>
		<li th:if="${not pager.lastPage}"><a th:href="@{${page='?page='+(pager.number+1)}}">»</a></li>
	</ul>
  </div>
  
</section>

<div class="row right">
  <a class="btn btn-primary btn-large" th:href="@{/admin/vozila/}">Lista vozila</a>
</div> 

<div th:include="dodaci/sabloni :: footerFragment"></div>
</div>
<!-- /.container -->
<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>