<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="dodaci/sabloni :: headFragment">
<title>Novi Tiket</title>
</head>
<body>

<div th:include="dodaci/sabloni :: headerFragment"></div>

<div class="container">

<section id="object">
  <div class="page-header">
    <h1 th:text="#{lok.add}">Create new ticket</h1>
  </div>

<div class="row">
    
	<form action="#" th:object="${tAtribut}"
		th:action="@{/korisnik/{id}/tiketi/novi(id=*{korisnik.id})}" method="post" id="1" class="form-horizontal well">
		<input type="hidden" th:field="*{korisnik.id}"/>
		<input type="hidden" th:field="*{tiketDatum}"/>
		<input type="hidden" th:field="${pAtribut.datum}" />
    
        <div class="form-group" th:class="${#fields.hasErrors('naslov')} ? 'form-group has-error' : 'form-group'">
        	<label for="naslov" class="col-lg-2 control-label" th:text="#{tk.na}">Ticket title: </label>
        	<div class="col-lg-10">
            	<input type="text" th:field="*{naslov}" class="form-control input-xlarge" th:placeholder="#{tk.na}" />
            	<p th:if="${#fields.hasErrors('naslov')}" class="label label-danger" th:errors="*{naslov}">Incorrect title</p>
            </div>
		</div>
		<div class="form-group" th:class="${#fields.hasErrors('vozilo.vin')} ? 'form-group has-error' : 'form-group'">
        	<label for="vozilo.vin" class="col-lg-2 control-label"  th:text="#{reg.tab}">VIN</label>
            <div th:if="${rsAtribut}" class="col-lg-10">
              	<select th:field="*{vozilo.vin}" class="form-control">
  				<option th:each="reg : ${rsAtribut}" 
  						th:value="${reg.vozilo.vin}" 
          				th:text="${reg.tablica}">License Plate</option>
				</select>
            	<p th:if="${#fields.hasErrors('reg.vozilo.vin')}" class="label label-danger" th:errors="${reg.vozilo.vin}">Incorrect VIN</p>
            </div>
            <div th:if="${rAtribut}" class="col-lg-10">
            	<input type="hidden" th:field="*{vozilo.vin}" th:value="${rAtribut.vozilo.vin}"/>
            	<input type="text" th:field="${rAtribut.tablica}" class="form-control input-xlarge" placeholder="#{tk.na}" />
            	<p th:if="${#fields.hasErrors('vozilo.vin')}" class="label label-danger" th:errors="*{vozilo.vin}">Incorrect VIN</p>
            </div>
		</div>
		<div class="form-group" th:class="${#fields.hasErrors('${pAtribut.sadrzaj}')} ? 'form-group has-error' : 'form-group'">
        		<label for="naslov" class="col-lg-2 control-label" th:text="'Poruka'">Message: </label>
        		<div class="col-lg-10">
	            	<textarea onkeyup="textCounter(this,'counter',254);" th:field="${pAtribut.sadrzaj}" class="form-control input-xlarge" th:placeholder="'Tekst poruke'" ></textarea>
	            	<p th:if="${#fields.hasErrors('${pAtribut.sadrzaj}')}" class="label label-danger" th:errors="${pAtribut.sadrzaj}">Incorrect title</p>
	            </div>
			</div>
          
		<div class="form-actions right">
          	<label class= "col-lg-2"></label>
            <button type="submit" class="btn btn-primary" th:text="#{tk.new}">Open new ticket</button>
            <a class="btn btn-default" th:href="@{/admin/lokacije/}" th:text="#{rad.odu}">Cancel</a>
		</div>
	</form>
	
</div>
</section>

<div class="row right">
  <a class="btn btn-primary btn-large" th:href="@{/admin/lokacije/}" th:text="#{rad.nal}">Back to the list</a>
</div> 

<div th:include="dodaci/sabloni :: footerFragment"></div>
</div>
<!-- /.container -->
<div th:include="dodaci/sabloni :: jsFragment"></div>
<script>
function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.value = maxlimit - field.value.length;
 }
}
</script>

</body>
</html>