<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="dodaci/sabloni :: headFragment">
<title>Nova kilometraža</title>
</head>
<body>

	<div th:include="dodaci/sabloni :: adminHeaderFragment"></div>

	<div class="container">

		<section id="object">
			<div class="page-header">
				<h1 th:text="#{lk.ttl1}">Change mileage</h1>
			</div>

			<div class="row">

				<form action="#" th:object="${lkAtribut}"
					th:action="@{/admin/kilo/nova}" method="post"
					class="form-horizontal well">

					<input type="hidden" th:field="*{korisnikVozilo.id}" />
					<input type="hidden" th:field="*{id}" />

					<div class="form-group" th:class="${#fields.hasErrors('datum')} ? 'form-group has-error' : 'form-group'">
						<label for="datum" class="col-lg-2 control-label" th:text="#{lk.dat}">Date: </label>
						<div class="col-lg-10">
							<input type="date" th:field="*{datum}" class="form-control input-xlarge" placeholder="Datum" />
							<p th:if="${#fields.hasErrors('datum')}" class="label label-danger" th:errors="*{datum}">neispravan datum</p>
						</div>
					</div>
					<div class="form-group" th:class="${#fields.hasErrors('kilometraza')} ? 'form-group has-error' : 'form-group'">
						<label for="kilometraza" class="col-lg-2 control-label" th:text="#{lk.kil}">Mileage: </label>
						<div class="col-lg-10">
							<input type="text" th:field="*{kilometraza}" class="form-control input-xlarge" placeholder="Kilometraza" />
							<p th:if="${#fields.hasErrors('kilometraza')}" class="label label-danger" th:errors="*{kilometraza}">neispravna kilometraza</p>
						</div>
					</div>
					<div class="form-group" th:class="${#fields.hasErrors('lokacija')} ? 'form-group has-error' : 'form-group'">
						<label for="kilometraza" class="col-lg-2 control-label" th:text="#{lok.one}">Location: </label>
						<div class="col-lg-10">
							<select th:field="*{lokacija}" class="form-control">
  								<option th:each="lok : ${lAtribut}" 
  									th:value="${lok.id}" 
          							th:text="${lok.naziv}">Lokacija</option>
							</select>
							<p th:if="${#fields.hasErrors('lokacija')}" class="label label-danger" th:errors="*{lokacija}">neispravna kilometraza</p>
						</div>
					</div>
					<hr />
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" th:text="#{lk.btn}">Save mileage</button>
						<a class="btn btn-default" th:href="@{/admin/kilo/lista(vin=${lkAtribut.korisnikVozilo.vozilo.vin})}" th:text="#{rad.odu}">Cancel</a>
					</div>
				</form>

			</div>
		</section>

		<div class="row right">
			<a class="btn btn-primary btn-large" th:href="@{/admin/vozila/}" th:text="#{rad.nal}">Back to list</a>
		</div>

		<div th:include="dodaci/sabloni :: footerFragment"></div>
	</div>
	<!-- /.container -->
	<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>