<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="dodaci/sabloni :: headFragment">
<title>Izmjena - Korisnik</title>
</head>
<body>

<div th:include="dodaci/sabloni :: adminHeaderFragment"></div>

<div class="container">

<section id="object">
  <div class="page-header">
    <h1 th:text="#{kor.chg}"></h1>
  </div>
    
	<div class="row">
    
	<form action="#" th:object="${korisnikAtribut}"
		th:action="@{/admin/korisnici/izmjeni}" method="post" class="form-horizontal well">

    
    	<input type="hidden" th:field="*{id}" />
    	
          <div class="form-group" th:class="${#fields.hasErrors('ime')} ? 'form-group has-error' : 'form-group'">
          <label for="ime" class="col-lg-2 control-label" th:text="#{kor.ime}">First Name</label>
            <div class="col-lg-10">
              <input type="text" th:field="*{ime}" class="form-control input-xlarge" placeholder="Ime" />
              <p th:if="${#fields.hasErrors('ime')}" class="label label-danger" th:errors="*{ime}">Neispravno ime</p>
            </div>
          </div>

		<div class="form-group" th:class="${#fields.hasErrors('prezime')} ? 'form-group has-error' : 'form-group'">
          <label for="Prezime" class="col-lg-2 control-label" th:text="#{kor.prez}">Last Name</label>
            <div class="col-lg-10">
              <input type="text" th:field="*{prezime}" class="form-control input-xlarge" placeholder="Prezime" />
              <p th:if="${#fields.hasErrors('prezime')}" class="label label-danger" th:errors="*{prezime}">Neispravno prezime</p>
        	</div>
        </div>
        
        <div class="form-group" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
          <label for="email" class="col-lg-2 control-label" th:text="#{sign.eml}">Email address</label>
            <div class="col-lg-10">
              <input type="text" th:field="*{email}" class="form-control input-xlarge" placeholder="Email address" />
              <p th:if="${#fields.hasErrors('email')}" class="label label-danger" th:errors="*{email}">Incorrect Email address</p>
        	</div>
        </div>
        
        <div class="form-group" th:class="${#fields.hasErrors('lozinka')} ? 'form-group has-error' : 'form-group'">
          <label for="lozinka" class="col-lg-2 control-label" th:text="#{sign.pwd}">Password</label>
            <div class="col-lg-10">
              <input type="password" th:field="*{lozinka}" class="form-control input-xlarge" placeholder="Lozinka" />
              <p th:if="${#fields.hasErrors('lozinka')}" class="label label-danger" th:errors="*{lozinka}">Incorrect password</p>
        	</div>
        </div>
        
        <div class="form-group" th:class="${#fields.hasErrors('rola')} ? 'form-group has-error' : 'form-group'">
          <label for="rola" class="col-lg-2 control-label" th:text="#{kor.rol}">Rola</label>
            <div class="col-lg-4">
              <select th:field="*{rola}" class="form-control">
                <option value="ROLE_USER" th:text="#{kv.kor}">User</option>
                <option value="ROLE_ADMIN" th:text="#{kor.rol1}">Admin</option>
              </select>
        	</div>
        	<label for="jeAktivan" class="col-lg-2 control-label" th:text="#{kor.je}">Aktivan?</label>
        	<div class="col-lg-4">
        	<label class="checkbox">
                <input type="checkbox" th:field="*{jeAktivan}" th:text="#{kor.msg1}" />Activate user?
              </label>
        	</div>
              <p th:if="${#fields.hasErrors('rola')}" class="label label-danger" th:errors="*{rola}">Neispravna rola</p>
              <p th:if="${#fields.hasErrors('jeAktivan')}" class="label label-danger" th:errors="*{jeAktivan}">Neispravna aktivacija</p>
        </div>
        
		<hr/>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary" th:text="#{kor.btn}">Change user</button>
            <a class="btn btn-default" th:href="@{/admin/korisnici/}" th:text="#{rad.odu}">Cancel</a>
          </div>
	</form>
	
</div>
</section>

<div class="row right">
  <a class="btn btn-primary btn-large" th:href="@{/admin/korisnici/}" th:text="#{rad.nal}">Back to the list</a>
</div> 

<div th:include="dodaci/sabloni :: footerFragment"></div>
</div>
<!-- /.container -->
<div th:include="dodaci/sabloni :: jsFragment"></div>

</body>
</html>