<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head id="headFragment" th:fragment="headFragment">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sistem Upravljanja Voznim Parkom</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/resources/css/bootstrap.css"
	th:href="@{/resources/css/bootstrap.css}" />
<link rel="stylesheet" href="/resources/css/bootstrap-glyphicons.css"
	th:href="@{/resources/css/bootstrap-glyphicons.css}" />
<!--  Additional css styles -->
<link rel="stylesheet" href="/resources/css/vms.css"
	th:href="@{/resources/css/vms.css}" />

<script th:src="@{/resources/js/jquery.min.js}" />
<script th:src="@{/resources/js/bootstrap.min.js}" />
<script th:src="@{/resources/js/bootbox.min.js}" />
</head>
<body>

	<header id="headerFragment" th:fragment="adminHeaderFragment">
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar navbar-inverse navbar-static-top">

					<div class="navbar-header">
						<a class="navbar-toggle" data-toggle="collapse"
							data-target=".nav-collapse"> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
						</a> <a class="navbar-brand" th:href="@{/}"><img class="info"
							height="21" width="21" th:src="@{/resources/img/main-auto.png}" />
							SUVP ADMIN PANEL</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a th:href="@{/}">Pocetna</a></li>
							<li th:if="${#authorization.expression('isAuthenticated()')}">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">Vozila <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/admin/vozila/}">Lista vozila</a></li>
									<li class="divider"></li>
									<li><a th:href="@{/admin/vozila/novi}">Dodaj novo
											vozilo</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">Korisnici <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/admin/users}">Lista korisnika</a></li>
									<li class="divider"></li>
									<li><a th:href="@{/admin/users/add}">Dodaj novog
											korisnika</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">Kilometraza<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/mileage/monthlyreport}">Izvjestaj</a></li>
									<li><a th:href="@{/mileage/mileageMonth}">Mjesecni</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">Servis<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/admin/servisi/listAllServis}">Pretraga
											servisa</a></li>
									<li><a th:href="@{/admin/dio/lista}">Dijelovi</a></li>
									<li><a th:href="@{/admin/vrstaServisa/}">Vrste servisa</a></li>
								</ul></li>
							<!--             				<li class="dropdown"><a href="#" class="dropdown-toggle" -->
							<!-- 								data-toggle="dropdown">Support <b class="caret"></b></a> -->
							<!-- 								<ul class="dropdown-menu"> -->
							<!-- 									<li><a th:href="@{/support}">Pending requests</a></li> -->
							<!-- 								</ul> -->
							<!-- 							</li> -->
							</li>
							<ul class="nav navbar-nav navbar-right">
								<li th:if="${#authorization.expression('!isAuthenticated()')}"><a
									href="/signin" th:href="@{/signin}">Sign in</a></li>
								<li th:if="${#authorization.expression('isAuthenticated()')}"><a
									href="/logout" th:href="@{/logout}">Logout</a></li>
							</ul>
						</ul>
					</div>

				</div>
			</div>
			<!-- /container -->
		</div>
		<!-- /navbar wrapper -->

		<hr class="featurette-divider" />
	</header>


	<header id="headerFragment" th:fragment="headerFragment">
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar navbar-inverse navbar-static-top">

					<div class="navbar-header">
						<a class="navbar-toggle" data-toggle="collapse"
							data-target=".nav-collapse"> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
						</a> <a class="navbar-brand" th:href="@{/}"><img class="info"
							height="21" width="21" th:src="@{/resources/img/main-auto.png}" />
							SUVP</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a th:href="@{/}">Pocetna</a></li>
							<li th:if="${#authorization.expression('isAuthenticated()')}">
								<!-- <li><a th:href="@{/vehicle}">Vehicle</a></li>  -->
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">Podrska <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/support/pending}">Zahtjevi na
											cekanju</a></li>
									<li><a th:href="@{/support/solved}">Rijeseni zahtjevi</a></li>
									<li class="divider"></li>
									<li><a th:href="@{/support/add}">Novi zahtjev</a></li>
								</ul></li>
							</li>
							<ul class="nav navbar-nav navbar-right">
								<li class="active"
									th:if="${#authorization.expression('!isAuthenticated()')}"><a
									href="/signin" th:href="@{/signin}">Sign in</a></li>
								<li th:if="${#authorization.expression('isAuthenticated()')}"><a
									href="/logout" th:href="@{/logout}">Logout</a></li>
							</ul>
						</ul>
					</div>

				</div>
			</div>
			<!-- /container -->
		</div>
		<!-- /navbar wrapper -->

		<hr class="featurette-divider" />
	</header>

	<div class="container"></div>

	<!-- FOOTER -->
	<footer id="footer" th:fragment="footerFragment">

		<hr />
		<p class="pull-right">
			<a href="#">Natrag na vrh</a>
		</p>
		<p>
			© 2014 Nikola Kujaca · <a href="#">Uslovi koristenja</a> · <a
				href="#">Politika privatnosti</a> · <a href="#">Pomoc</a>
		</p>
		<hr />
	</footer>

	<div th:fragment="jsFragment"></div>

</body>
</html>