<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head id="headFragment" th:fragment="headFragment">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sistem Upravljanja Voznim Parkom</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/resources/css/bootstrap.css"
	th:href="@{/resources/css/bootstrap.css}" />
<link rel="stylesheet" href="/resources/css/bootstrap-glyphicons.css"
	th:href="@{/resources/css/bootstrap-glyphicons.css}" />
<!--  Additional css styles -->
<link rel="stylesheet" href="/resources/css/vms.css"
	th:href="@{/resources/css/vms.css}" />

<script th:src="@{/resources/js/jquery.min.js}" ></script>
<script th:src="@{/resources/js/bootstrap.min.js}" ></script>
<script th:src="@{/resources/js/bootbox.min.js}" ></script>
</head>
<body>

	<header id="headerFragment" th:fragment="adminHeaderFragment">
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar navbar-inverse navbar-static-top">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-test">
							<li class="navbar-brand"><img class="info"
							height="30" width="30" th:src="@{/resources/img/main-auto.png}" /></li>
							<li><a th:href="@{/}" th:text="#{mn.1}">Start</a></li>
							<li th:if="${#authorization.expression('isAuthenticated()')}">
								<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"><span th:text="#{mn.2}">Vehicles</span><b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a th:href="@{/admin/vozila/}" th:text="#{mn.2.1}">Vehicles list</a></li>
										<li class="divider"></li>
										<li><a th:href="@{/admin/vozila/novi}" th:text="#{mn.2.2}">Add new vehicle</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown"><span th:text="#{mn.3}">Users</span> <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a th:href="@{/admin/korisnici/}" th:text="#{mn.3.1}">Users list</a></li>
										<li class="divider"></li>
										<li><a th:href="@{/admin/korisnici/novi}" th:text="#{mn.3.2}">Add new user</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown"><span th:text="#{mn.4}">Mileage</span> <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a th:href="@{/admin/kilo/pregled}" th:text="#{mn.4.1}">Overview</a></li>
										<li><a th:href="@{/admin/kilo/izvjestaj}" th:text="#{mn.4.2}">Monthly</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown"><span th:text="#{mn.5}">Service</span> <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a th:href="@{/admin/servis/pretraga}" th:text="#{mn.5.1}">Service search</a></li>
										<li><a th:href="@{/admin/dio/lista}" th:text="#{mn.5.2}">Parts</a></li>
										<li><a th:href="@{/admin/vrstaServisa/}" th:text="#{mn.5.3}">Service types</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown"><span th:text="#{mn.6}">Support</span> <b class="caret"></b></a>
									<ul class="dropdown-menu">
									<li><a th:href="@{/korisnik/tiketi/lista}" th:text="#{mn.6.1}">Svi tiketi</a></li>
										<li><a th:href="@{/korisnik/tiketi/nerijeseni}" th:text="#{mn.6.2}">Tiketi na čekanju</a></li>
										<li><a th:href="@{/korisnik/tiketi/rijeseni}" th:text="#{mn.6.3}">Riješeni tiketi</a></li>
									</ul>
								</li>
							</li>
							<li>
							<ul class="nav navbar-nav">
								<li th:if="${#authorization.expression('!isAuthenticated()')}"><a
									href="/signin" th:href="@{/signin}" th:text="#{mn.7}">Sign in</a></li>
								<li th:if="${#authorization.expression('isAuthenticated()')}"><a
									href="/logout" th:href="@{/logout}" th:text="#{mn.8}">Logout</a></li>
							</ul>
							</li>
							<li class="navbar-brand"><img height="30" width="30" th:src="@{/resources/img/main-auto.png}" /></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /container -->
		</div>
		<!-- /navbar wrapper -->
		<hr class="featurette-divider" />
	</header>

	<header id="headerFragment" th:fragment="headerFragment">
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar navbar-inverse navbar-static-top">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-test">
							<li class="navbar-brand"><img height="30" width="30" th:src="@{/resources/img/main-auto.png}" /></li>
							<li><a th:href="@{/}" th:text="#{mn.1}">Start</a></li>
							<li th:if="${#authorization.expression('isAuthenticated()')}">
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown"><span th:text="#{mn.6}">Support</span> <b class="caret"></b></a>
									<ul class="dropdown-menu">
									<li><a th:href="@{/korisnik/tiketi/lista}" th:text="#{mn.6.1}">Svi tiketi</a></li>
										<li><a th:href="@{/korisnik/tiketi/nerijeseni}" th:text="#{mn.6.2}">Tiketi na čekanju</a></li>
										<li><a th:href="@{/korisnik/tiketi/rijeseni}" th:text="#{mn.6.3}">Riješeni tiketi</a></li>
										<li class="divider"></li>
										<li th:if="${kvAtribut}"><a th:href="@{/korisnik/tiketi/novi(vin=${kvAtribut.vozilo.vin})}" th:text="#{mn.6.4}">Novi tiket</a></li>
									</ul>
								</li>
							</li>
							<li>
								<ul class="nav navbar-nav">
									<li class="active"
										th:if="${#authorization.expression('!isAuthenticated()')}"><a
										href="/signin" th:href="@{/signin}" th:text="#{mn.7}">Sign in</a></li>
									<li th:if="${#authorization.expression('isAuthenticated()')}"><a
										href="/logout" th:href="@{/logout}" th:text="#{mn.8}">Logout</a></li>
								</ul>
							</li>
							<li class="navbar-brand"><img height="30" width="30" th:src="@{/resources/img/main-auto.png}" /></li>
						</ul>
					</div>

				</div>
			</div>
			<!-- /container -->
		</div>
		<!-- /navbar wrapper -->

		<hr class="featurette-divider" />
	</header>

	<div class="container"></div>

	<!-- FOOTER -->
	<footer id="footer" th:fragment="footerFragment">

		<hr />
		<p class="pull-right">
			<a href="#" th:text="#{btt}">Back to the top</a>
		</p>
		<p><span  th:text="#{cpr}" /> · <a href="#"  th:text="#{con}">Conditions</a> · <a
				href="#" th:text="#{pp}">Privacy policy</a> · <a href="#" th:text="#{hlp}">Help</a>
		</p>
		<hr />
	</footer>

	<div th:fragment="jsFragment"></div>

</body>
</html>